@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body { 
	background-color: #001101;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	margin: 0;
}

a {
	text-decoration: none;
	color: white;
}

.all {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.item {
	flex: 1;
	text-align: center;
}

.profile {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.content {
	padding: 0 40px;
}

.item {
	margin: auto;
}

.social > a {
	margin: 5px;
}
